	.node {
    cursor: pointer;
  }

  .overlay{
      background-color:#FFFFFF;
  }
   
  .node circle {
    fill: #fff;
    stroke: #0A4958;
    stroke-width: 3px;
  }
   
  .node text {
    font-size:15px;
    font-family:sans-serif;
  }
   
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }

  body {
      background-color: #FFFFFF;
      /*margin:0px 0px 0px 0px;*/
  }
